<div class="row">
  <div class="col-lg-6 offset-1">
    <div class="cards">
      <% @packages.each do |package| %>
      <div class="card">
        <%=  package.name %>
        <%# package.photos.first %>
      </div>
      <% end%>
    </div>
  </div>

  <div class="devise-input">
    <div class="justify-content-center">
      <div class="form-group col-12 m-3">
        <!-- <div id="package-creator"> -->
          <h3> New Package </h3>

          <%= simple_form_for @package,
          wrapper: :horizontal_form do |f| %>

            <%= f.error_notification %>

            <%= f.input :name, as: :string %>

            <%= f.input :description, as: :text %>

            <%= f.input :content, as: :text  %>

            <%= f.input :price, as: :float %>

              <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.button :submit, class: "form-actions btn-flat text-center w-100 py-2" %>
          <% end %>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>





